services:
  app:
    build:
      context: .
      dockerfile: ./docker/dockerfile.dev
    container_name: e-commerce-app
    env_file:
      - .env
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    environment:
      - DB_HOST=db
      - DB_PORT=5432
    volumes:
      - .:/app
      - /app/bin
    networks:
      - app-network

  db:
    image: postgres:16
    container_name: e-commerce-db
    environment:
      POSTGRES_USER: ${DB_USERNAME:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-postgres}
    ports:
      - ${DB_PORT}:${DB_PORT}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME:-postgres} -d ${DB_NAME:-postgres}"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - app-network
volumes:
  pgdata:
    driver: local

networks:
  app-network:
    driver: bridge